@{ 
	Layout = "~/Views/Shared/default.cshtml";
}

@inherits Castle.MonoRail.Blade.ViewPage

      <!-- Example row of columns -->
      <div class="row">
        
		<div class="span4" style=" width: 240px; float: right;">
          This is content from the shell app
        </div>

		
      </div>

