@{ 
	Layout = "~/Views/Shared/default.cshtml";
}

@inherits Castle.MonoRail.Blade.ViewPage

      <!-- Example row of columns -->
      <div class="row">
        
          This is content from the bundled app
		
      </div>

