@using WebApplication1.Controllers
@using WebApplication1.Models
@model Todo
@{
    Layout = "~/Views/Shared/default.cshtml";
}

<div class="container">
    <div class="header">
        <h1>TODO</h1>
    </div>


    @Form.FormFor(Model, TodoController.Urls.Update.Post(), @=> builder {
        
        <fieldset>
            
            <legend>Message</legend>
            
            <p>
                @builder.EditorFor(m => m.Name)
                @builder.EditorFor(m => m.Author)
            </p>
            

        </fieldset>
                
    }) 

    
</div>
