
/build

# Standard VS.NET and ReSharper Foo
src/*/obj
src/*/bin
*.csproj.user
_ReSharper*
*ReSharper.*
*.resharper.user
*.resharper
*.suo
*.cache
* Thumbs.db
extensions/MefIntegration/src/Castle.MonoRail.MefIntegration/bin/
extensions/MefIntegration/src/Castle.MonoRail.MefIntegration/obj
extensions/WindsorIntegration/src/Castle.MonoRail.WindsorIntegration/bin/
extensions/WindsorIntegration/src/Castle.MonoRail.WindsorIntegration/obj/