@model IEnumerable<WebApplication1.Models.Todo>

<div class="container">
    <div class="header">
        <h1>TODO list</h1>
    </div>

    @foreach(var t in this.Model) { 

        <p> 
        @Url.Link(WebApplication1.Controllers.TodoController.Urls.Edit(@t.Id))
        </p>

    }

    @Url.Link(WebApplication1.Controllers.TodoController.Urls.New())
	
</div>