@model WebApplication1.Models.Todo
@{
    Layout = "~/Views/Shared/default.cshtml";
}
           
<div class="container">
    <div class="header">
        <h1>TODO</h1>
    </div>

    @using (Form.BeginForm(WebApplication1.Controllers.TodoController.Urls.Create()))
    {
        <fieldset id="contactForm">
            <legend>Message</legend>
            <p>
                @Html.Label("Name", "Name"): 
                @@Html.TextInput("Name")
                @( Html.TextInput<WebApplication1.Models.Todo>( t => t.Name ) )
            </p>
            <p>
                @Html.Label("Email", "Email"): 
                @@Html.TextInput("Email")
            </p>
            <p>
                <input type="submit" value="Send" />
            </p>
        </fieldset>
    } 
	
</div>
