<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
	</configSections>

	<activerecord>
		<config>
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
      <add key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver, NHibernate"/>
      <add key="dialect" value="NHibernate.Dialect.SQLiteDialect, NHibernate"/>
      <add key="connection.provider" value="Castle.ActiveRecord.Testing.InMemoryConnectionProvider, Castle.ActiveRecord"/>
      <add key="connection.connection_string" value="Data Source=:memory:;Version=3;New=True"/>
    </config>
	</activerecord>

	<appSettings>
		<add key="web.physical.dir" value="../../../TestSiteARSupport"/>
	</appSettings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
