@inherits Castle.MonoRail.Blade.ViewPage
<!DOCTYPE html>
<head>
	<title>Foundation</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=1024">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.7.1.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	

	@RenderSection("head", required: false)

</head>

<body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Sample Shell</a>
          <ul class="nav">
            <li class="active"><a href="">Home</a></li>
            <!--
			<li><a href="/">Clients</a></li>
			<li><a href="#contact">Users</a></li>
			-->
          </ul>
          <p class="pull-right">Logged in as <a href="#">username</a></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">

        
@RenderBody()

        <footer>
          <p>&copy; Castle Project</p>
        </footer>
      </div>
    </div>

  </body>

</html>

