<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener"
             type="System.Web.WebPageTraceListener, System.Web"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <system.web>
    <trace writeToDiagnosticsTrace="true"/>

    <compilation debug="true" targetFramework="4.0" />
    <!-- 
    <trust level="Medium" originUrl="" />
    -->
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
