@{
	Layout = "~/Views/Shared/default.cshtml";
}
@inherits Castle.MonoRail.Blade.ViewPage
@using ODataTestWebSite.Controllers.AggRootModel

<a href="/models/AggRootModel">Code repository model</a>    

<a href="/models/AggRootModel/$metadata">metadata</a>    
